{% extends 'base.html.twig' %}

{% block title %}Hello ShadokCalculatorController!{% endblock %}

{% block body %}
    <h1>Entrez votre chiffre ici et découvrez sa traduction Shadok</h1>

    {{ form(form, {'attr': {'class': 'form-calculator'}}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let urlAjax = "{{ path('calculator') }}";
    </script>
{% endblock %}
